{% extends 'cadastros/base.html' %}

{% block content %}
  <h2>Ficha do Cliente: {{ clientes.nome }}</h2>
  <br>
  <img src="{{ clientes.foto.url }}" alt="{{ clientes.nome }}" width="150">
  <br><br>
  <p><strong>Nome:</strong> {{ clientes.nome }}</p>
  <p><strong>CPF:</strong> {{ clientes.cpf }}</p>
  <p><strong>Telefone:</strong> {{ clientes.telefone }}</p>
  <p><strong>Email:</strong> {{ clientes.email }}</p>
  <p><strong>Data de Nascimento:</strong> {{ clientes.data_nascimento }}</p>
  <a href="{% url 'cliente_list' %}">Voltar para a lista de clientes</a>
{% endblock %}