{% extends 'cadastros/base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h2>Lista de Clientes</h2>
<br>
<a href="{% url 'cliente_create' %}" class="btn btn-primary mb-3">Novo Cliente</a>
<br>
<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name='q' value="{{ termo_pesquisa }}">
    <button class="btn btn-outline-success my-3 my-sm-3" type="submit">Search</button>
  </form>
<br>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.id }}</td>
                            <td><a href="{% url 'cliente_detail' cliente.id %}">{{ cliente.nome }}</a></td>
                            <td>{{ cliente.cpf }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{% url 'cliente_update' cliente.id %}" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="{% url 'cliente_delete' cliente.id %}" class="btn btn-danger btn-sm">Excluir </a>
                                    <a href="{% url 'exame_list' cliente.id %}" class="btn btn-info btn-sm">Exam</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}