<!-- templates/cadastros/exame_list.html -->
{% extends 'cadastros/base.html' %}

{% block content %}
  <h2>Lista de Exames</h2>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name='q' value="{{ termo_pesquisa }}">
    <button class="btn btn-outline-success my-3 my-sm-3" type="submit">Search</button>
  </form>
  
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Tipo de Exame</th>
            <th>Data do Exame</th>
            <th>Resultado</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    
    <tbody>
        {% for exame in exames %}
        <tr>
            <td>{{ exame.id }}</td>
            <td><a href="{% url 'cliente_detail' exame.cliente.id %}">{{ exame.cliente.nome }}</a></td>
            <td>{{ exame.tipo_exame }}</td>
            <td>{{ exame.data_exame|date:"d/m/Y" }}</td>
            <td>{{ exame.resultado }}</td>
            <td>{{ exame.preco }}</td>
            <td>
                <a href="{% url 'exame_detail' exame.id %}" class="btn btn-info btn-sm">Detalhes</a>
                
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Não há exames registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
