

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid mb-4" style="max-width: 200px;">
                
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Login</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="Digite seu usuário">
                    </div>
                    <div class="form-group">
                        <label for="id_password">Senha</label>
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Digite sua senha">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <br>
                <p>criado por Douglas R. Silva</p>
                <p>suporte: (21) 96523-8304</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+5RAq2U7zc00hrGx4h4eyOJFh/w9Un/T5+OrCbd+C5KbSAB" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"></script>
</body>
</html>
 
